.subheading {
  font-size: $font-size-subheading;
  font-weight: $font-weight-regular;
  color: $color-text-secondary;
  padding: $spacing-xs $spacing-md;
}

.text {
  font-size: $font-size-text;
  font-weight: $font-weight-regular;
}
