{
  "tabWidth": 2,
  "tabSize": 2,
  "insertSpaces": true,
  "detectIndentation": true,
  "trailingComma": "all",
  "printWidth": 100,
  "singleQuote": false,
  "arrowParens": "always",
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-organize-imports"],
  "importOrder": ["^@nestjs/(.*)$", "^@/(.*)$", "^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
